
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cdc7d4, #55ddb4);
    color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.mensagem {
    color: blue;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
h2 {
    color: #4CAF50;
    text-align: center;
    margin-top: 50px;
}

.box {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 100%;               /* O botão ocupará 100% da largura da .box */
    margin-top: 10px;           /* Espaço entre o botão e o conteúdo acima dele */
    padding: 10px;              /* Padding dentro do botão */
    font-size: 16px;            /* Tamanho da fonte */
    background-color: #4CAF50;  /* Cor de fundo */
    color: white;               /* Cor do texto */
    border: none;               /* Remove a borda padrão */
    border-radius: 5px;         /* Bordas arredondadas */
    cursor: pointer;            /* Muda o cursor para uma mão ao passar sobre o botão */
    text-align: center;         /* Garante que o texto esteja centralizado */
}

button:hover {
    background-color: #77e4b1;
}

