body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cdc7d4, #2575fc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#dataAtual, 
#horaAtual,
.container {
    font-size: 50px;
    color: #333;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


input[type="text"] {
    padding: 10px;
    font-size: 20px;
    width: 70%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 2px 6px;
    width: 20%;
    font-size: 5px;
    background-color: #99aed4;
    color: #fff;
    border: 2px solid #333;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Lucida Sans', Arial, sans-serif;
    
}

button:hover {
    background-color: #1a71ac;
}

